<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>karla's blog</title>
</head>
<body>
    <div>
        <h1>WELCOME TO MY BLOG</h1>
        <br>
        <h3>Now I'm a Django Girl, and it feels good!!!!</h3>
    </div>
    <div>
        <p>published: 18.09.2019, 00:01</p>
        <h2><a href="">My first post</a></h2>
        <p>Serious stuff</p>
    </div>
    <div>
        <p>published: 18.09.2019, 00:02</p>
        <h2><a href="">My second post</a></h2>
        <p>Random shit</p>
    </div>
    <div>
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>
</body>
</html>